<app-nav-bar></app-nav-bar>

<body class="bg-dark">
    <div class="jumbotron">
        <div class="container">
            <app-tabla-actor (actorOutput)="recibirActor($event)" [listaActorInput]="listaActores"></app-tabla-actor>
        </div>
    </div>
    <div class="container">
        <div class="row" *ngIf="actorSeleccionado">
            <div class="col-md-4">
                <!-- <app-abm-actor [abmInput]="'b'" [actorInput]="actorSeleccionado"></app-abm-actor> -->
                <app-detalle-actor [actorInput]="actorSeleccionado" [bajaInput]="true"></app-detalle-actor>
            </div>
            <div class="col-md-4">
                <app-detalle-actor [actorInput]="actorSeleccionado" [bajaInput]="false"></app-detalle-actor>
            </div>
            <div class="col-md-4">
                <!-- <app-abm-actor [abmInput]="'m'" [actorInput]="actorSeleccionado"></app-abm-actor> -->
                <div class="row">
                    <div class="col-12">
                        <app-abm-actor [nacionalidadInput]="paisSeleccionado" [abmInput]="'m'" [actorInput]="actorSeleccionado"
                        (limpiarNacionalidadInputOutput)="recibirLimpiarNacionalidad($event)"></app-abm-actor>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <app-tabla-pais (paisOutput)="recibirPais($event)" [listaPaisInput]="listaPaises"></app-tabla-pais>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>