<app-nav-bar (usrActivoOutput)="recibirUsuario($event)"></app-nav-bar>
<div class="card">
    <div class="card-header">
        <h5>Home</h5>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../../../assets/imagenes/actores.jpg" class="card-img-top" alt="Actores" (click)="menuActores()">
            <div class="card-body">
                <h5 class="card-title">Actores</h5>
                <p class="card-text">Ver y administrar los actores y sus características</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imagenes/Peliculas1.jpg" class="card-img-top" alt="Películas" (click)="menuPeliculas()">
            <div class="card-body">
                <h5 class="card-title">Películas</h5>
                <p class="card-text">Administre y vea el detalle de todas las peliculas del sistema.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imagenes/paises.jpg" class="card-img-top" alt="Países" (click)="menuPaises()">
            <div class="card-body">
                <h5 class="card-title">Países</h5>
                <p class="card-text">Buscando los actores de un país o sus películas, este es el módulo.</p>
            </div>
        </div>
    </div>
</div>