<app-nav-bar></app-nav-bar>
<body class="bg-dark">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <app-tabla-actor (actorOutput)="recibirActor($event)" [listaActorInput]="listaActores"></app-tabla-actor>
        </div>
    </div>
    <div class="container">
        <div class="row" *ngIf="actorSeleccionado">
            <div class="col-md-4">
                <app-tabla-pelicula [actorInput]="actorSeleccionado" [listaPeliculasInput]="listaPeliculas">
                </app-tabla-pelicula>
            </div>
            <div class="col-md-4">
                <app-detalle-pais [paisInput]="paisSeleccionado" >
                </app-detalle-pais>
            </div>
            <div class="col-md-4">
                <app-detalle-actor [actorInput]="actorSeleccionado" [bajaInput]="false"></app-detalle-actor>
            </div>
        </div>
    </div>
</body>