<app-nav-bar></app-nav-bar>
<div class="card">
    <div class="card-header">
        <h5>Actores</h5>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../../../assets/imagenes/altaActor.jpg" class="card-img-top" alt="Actores" (click)="altaActorClick()">
            <div class="card-body">
                <h5 class="card-title">Alta de Actor</h5>
                <p class="card-text">Dar de alta un nuevo actor</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imagenes/modifActors.jpg" class="card-img-top" alt="Películas" (click)="modificaActoresClick()">
            <div class="card-body">
                <h5 class="card-title">Modificación de Actores</h5>
                <p class="card-text">Modificacion y baja de actores.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imagenes/actoresPeliculas.jpg" class="card-img-top" alt="Países" (click)="listaPaisesActoresClick()">
            <div class="card-body">
                <h5 class="card-title">Actores Peliculas</h5>
                <p class="card-text">Vea las peliciulas en las que participo cada actor.</p>
            </div>
        </div>
    </div>
</div>