<div class="card" style="width: 18rem; height: 28rem">
    <div class="card-body">
      <h5 class="card-title">{{actorInput.nacionalidad.name}} </h5>
      <h6 class="card-text mb-2 text-muted">Capital: {{actorInput.nacionalidad.capital}}</h6>
      <h6 class="card-text mb-2 text-muted">Region: {{actorInput.nacionalidad.region}}</h6>
      <h6 class="card-text mb-2 text-muted">Sub Region: {{actorInput.nacionalidad.subregion}}</h6>
      <h6 class="card-text mb-2 text-muted">Población: {{actorInput.nacionalidad.population}}</h6>
      <h6 class="card-text mb-2 text-muted">Codigo Pais: {{actorInput.nacionalidad.alpha2Code}}</h6>
      <img [src]="actorInput.nacionalidad.flag" width="150px" height="130px" class="rounded mx-auto d-block" alt="...">
    </div>
  </div>
  <br>
